* {
    box-sizing: border-box;
}

html {
    background-color: #f5f5f5f5;
}

h1,
h2 {
    font-family: 'Poppins';
    margin: 2rem 0 1rem;
    color: #DCB16A;
    text-align: center;
}

button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: .25rem;
    border: none;
    border-radius: 50%;
    /* icon kleiner maken */
    transform: scale(.8);
    transition: .25s;
    background-color: #DCB16A;
    cursor: pointer;
}

button:hover {
    background-color: #bf995b;
}


/* foto */

img {
    position: relative;
    top: 2rem;
    width: 10em;
    height: auto;
    border: 5px solid #fff;
    border-radius: 10em;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
}

dl {
    font-family: 'Poppins';
    color: white;
    width: 100%;
    margin-top: 1rem;
    padding: 2rem 0;
    text-align: center;
    background: #DCB16A;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
}


/* normale text styling */

p {
    font-family: 'Poppins';
    margin: 0;
    padding: 0 50px;
    color: white;
}


/* grootte van de kaart */

.card {
    margin: 100px auto 20px;
    width: 400px;
    height: 600px;
    perspective: 1000px;
}

.card_inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}


/* zodat de kaart niet op de kop staat */

.card.turned .card_inner {
    transform: rotateY(180deg);
}

.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, .1);
    border-radius: 1rem;
    background-color: #1A1C1D;
    display: flex;
    flex-direction: column;
}

.front,
.back {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
}

.front h2 {
    color: #FFF;
    font-size: 32px;
}

.back {
    transform: rotateY(180deg);
}


/* social media tab */

.socials {
    margin: 50px 0;
}


/* icons */

i {
    color: white;
    padding: 0 30px;
    font-size: 30px;
}

a i {
    transition: 0.3 ease-in-out;
}

a:hover i {
    color: #DCB16A;
    transition: 0.3 ease-in-out;
    /* animatie voor socials */
    animation-name: shake;
    animation-duration: 0.5s;
}

button i {
    font-size: 20px;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .card_face .front {
        height: auto;
    }
    .socials {
        margin: 20px 0;
    }
    dl {
        padding: 1.5rem 0;
    }
}